<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
<body>
    <h1>Welcome</h1>
<div ng-app="myApp" ng-controller="customersCtrl" ng-init="searchstd()">
  <select ng-model="SortColumn">  
  
    <option value="fname">Name Asc</option>
    <option value="-fname">Name Desc</option>  
    <option value="lname">last name Asc</option>  
    <option value="-lname">last name Desc</option>
    <option value="DOB">DOB ASC</option>  
    <option value="-DOB">DOB Desc</option>
    <option value="branch">branch ASC</option>
    <option value="-branch">branch DESC</option>  
    <option value="score">score Asc</option>
    <option value="-score">score Desc</option>  
    </select>
<table border="1">
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Date Of Birth</th>
  <th>Branch & Sec</th>
  <th>Score</th>
  <th>Register Number</th>
</tr>
  <tr ng-repeat="x in getdetails|orderBy:SortColumn">
    <td>{{ x.fname }}</td>
    <td>{{x.lname}}</td>
    <td>{{x.DOB}}</td>
    <td>{{x.branch}}</td>
    <td>{{ x.score }}</td>
    <td>{{x.regno}}</td>
  </tr>
</table>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $scope.searchstd=function()
  {
   $http.get('marks.php')
   .success(function (data) 
   {
     $scope.getdetails = data;
     });
  }
});
</script>
</body>
</html>